[data]
    name = {{ promptStringOnce . "name" "Full name" | quote }}
    email = {{ promptStringOnce . "email" "Email address" | quote }}
    installOhMyZsh = {{ promptBoolOnce . "installOhMyZsh" "Install Oh My Zsh (via chezmoi external)" true }}
    installFonts = {{ promptBoolOnce . "installFonts" "Install Hack Nerd fonts" true }}
    changeShell = {{ promptBoolOnce . "changeShell" "Change default shell to zsh (requires chsh)" true }}
    installNeovimPlugins = {{ promptBoolOnce . "installNeovimPlugins" "Run PlugInstall on first apply" true }}
